* {
    margin: 0;
    padding: 0;
    font-size:13px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(17, 83, 141);
}

label{
    font-weight: bold;
}

#login-group{
    width:400px;
    padding: 20px;
}

@media screen and (max-width: 550px) {
    #login-group{
        width: 100%;
    }
}
